body {
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
img {
  filter: grayscale(0%);
}
h2 {
  font-size: 30px;
  color: #009a4d;
  text-transform: uppercase;

}
.nursing, .three, .two {
  position: fixed;
  height: 40vh;
  z-index: -1;
  display: none;
}
.top-nav {
  top: 0;
  display: none;
  z-index: 4;
  position: fixed;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: black;
  width: 100%;
}
                                  .top-nav a {
                                    color: #cccccc;
                                    transition: .5s;
                                    width: 20%;
                                    text-align: center;
                                    display:inline-block;
                                  }
                                  .top-nav a:hover {
                                    color: white;
                                  }
.title {
  font-size: 3vw;
  width: 100%;
  text-align: center;
}
                                      .title h1 {
                                        margin-bottom: 1vh;
                                      }
                                      .title p {
                                        display: inline-block;
                                        width: 30vw;
                                        font-size: 15px;
                                        margin-bottom: 5vh;
                                      }

.what {
  width: 80%;
  margin-left: 10%;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
                              .what-inner {
                                display: inline-block;
                                width: 40%;
                                padding: 5%;
                                vertical-align: middle;
                              }
                              .nursing-solo {
                                width: 150%;
                                margin-left: -5vw;
                              }
                              .nursing-solo-container {
                                width: 40%;
                                overflow: hidden;
                                display: inline-block;
                                vertical-align: middle;
                                margin: 5vh 0 5vh 0;
                              }
                              .what-inner a {
                                font-size: 13px;
                                color: gray;
                                transition: .5s;
                              }
                              .what-inner a:hover {
                                color: #009a4d;
                                text-decoration: underline;
                              }

.performance {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-top: 5vh;
  padding-bottom: 5vh;
  border-bottom: 1px solid #cccccc;
}
                            .performance ul {
                              list-style-type: none;
                              margin: 4vh;
                              padding: 4vh;
                              font-size: 27px;
                            }
                            .performance ul div {
                              display: inline-block;
                              cursor: pointer;
                              margin-bottom: 5vh;
                              vertical-align: top;
                            }
                            .time {
                              width: 25%;
                              text-align: left;

                            }
                            .name {
                              width: 40%;
                              text-align: center;
                            }
                            .location {
                              width: 35%;
                              text-align: right;
                            }

.news {
  width: 40%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 2.5%;
  text-align: center;
  vertical-align: top;

}
                                    ol {
                                      list-style: none;
                                    }
                                    li {
                                      margin-bottom: 2vh;
                                    }
                                    li h4 {
                                      margin: 0;
                                      text-decoration: underline;
                                    }
                                    li p {
                                      margin: 0;
                                    }
.members {
  width: 40%;
  padding-left: 2%;
  display: inline-block;
  text-align: center;
  padding-bottom: 5vh;
  border-left: 1px solid #cccccc;
}
                            .members-text {
                              margin: 2vh;
                              color: gray;
                              font-size: 10px;
                            }
                            .one {

                            }
                            .one-container {
                              margin-left: 0vw;
                              width: 40vw;
                              height: 60vh;
                              overflow: hidden;
                              display: flex;
                              cursor: pointer;
                            }
                            .one-container img {
                              white-space: nowrap;
                              display: inline-block;
                              width: 40vw;
                              margin-right: 5vw;
                              filter: brightness(50%);
                              transition: .5s;
                              /* animation: slideshow 30s infinite linear; */

                            }
                            .one-container img:hover {
                              color: transparent;
                              filter: brightness(100%);
                            }
                            @keyframes slideshow {
                              100% {
                                transform: translateX(-205vw);
                              }
                            }
                            .b, .c, .d, .e {
                            }
.goal {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 5vh;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;

}
                            .four {
                              width: 80vw;
                            }
                            .four-container {
                              width: 80vw;
                              overflow: hidden;
                            }

.support {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 5vh;
  border-bottom: 1px solid #cccccc;
}
                                        .donate, .join, .parent {
                                          display: inline-block;
                                          width: 33%;
                                          vertical-align: top;
                                        }
                                        .donate {
                                          text-align: left;
                                        }
                                        .join {
                                          text-align: center;
                                        }
                                        .parent {
                                          text-align: right;

                                        }
                                        .support h3 {
                                          margin-bottom: 0vh;
                                        }
                                        .support p {
                                          margin-top: 1vh;
                                          width: 50%;
                                          display: inline-block;
                                        }
                                        .support a {
                                          display: inline-block;
                                          height: 2vh;
                                          color: gray;
                                        }
                                        .support a:hover {
                                          color: black;
                                        }
.contact {
  width: 80%;
  padding-left: 10%;
  padding-bottom: 5vh;
}
                                            .group-1 {
                                              display: inline-block;
                                              width: 33%;
                                            }
                                            .group-1 a {
                                              transition: .5s;
                                              display: inline-block;
                                              height: 2vh;
                                              color: black;
                                            }
                                            .group-1 a:hover {
                                              color: black;
                                            }
                                            .group-1 a::after {
                                                content: '';
                                                display: block;
                                                width: 0%;
                                                height: .1vw;
                                                background: black;
                                                transition: .3s;
                                                float: right;
                                            }
                                            .group-1 a:hover::after {
                                                width: 100%;
                                                float: left;
                                            }

                                            .group-2 {
                                              display: inline-block;
                                              width: 33%;
                                              text-align: right;
                                            }
                                            .group-3 {
                                              display: inline-block;
                                              width: 33%;
                                              text-align: right;
                                            }

.bottom-nav {
  background-color: black;
  color: white;
  width: 80%;
  padding-top: 5vh;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5vh;
}
