body {
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}
.top-nav {
  top: 0;
  z-index: 4;
  position: fixed;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: black;
  width: 100%;
}
                                  .top-nav a {
                                    color: #cccccc;
                                    width: 25%;
                                    font-weight: bold;
                                    text-align: center;
                                    display:inline-block;
                                    transform: translateY(-50%);
                                    transition: letter-spacing .5s;
                                    letter-spacing: .75px;
                                  }
                                  .top-nav a:first-child {
                                    transform: none;
                                    font-weight: bold;
                                    font-size: 2em;
                                    width: 50%;
                                    text-align: left;
                                    text-indent: 10%;
                                  }
                                  .top-nav a:hover {
                                    color: white;
                                    letter-spacing: 2px;
                                  }
  a {
    text-decoration: none;
  }

  .bottom-nav {
    display: none;
    background-color: black;
    color: white;
    width: 80%;
    padding-top: 5vh;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5vh;
  }
